<div class="highlight"><pre><span class="gh">tag_cloud</span>
<span class="gh">=========</span>
<span class="nc">:lang:</span> <span class="nf">zh</span>
<span class="nc">:date:</span> <span class="nf">2016-01-18 13:45</span>
<span class="nc">:series:</span>  <span class="nf">Pelican_Plugins</span>
<span class="nc">:tags:</span> <span class="nf">pelican</span>

This plugin generates a tag-cloud.

<span class="p">..</span> <span class="ow">contents</span><span class="p">::</span>

<span class="gh">Installation</span>
<span class="gh">------------</span>

In order to use to use this plugin, you have to edit(*) or create(+) the following files<span class="se">::</span>

<span class="s">      blog/</span>
<span class="s">        ├── pelicanconf.py *</span>
<span class="s">        ├── content</span>
<span class="s">        ├── plugins +</span>
<span class="s">        │     └── tag_cloud.py +</span>
<span class="s">        └── themes</span>
<span class="s">              └── mytheme</span>
<span class="s">                    ├── templates</span>
<span class="s">                    │      └── base.html *</span>
<span class="s">                    └── static</span>
<span class="s">                          └── css</span>
<span class="s">                               └── style.css *</span>

In <span class="gs">**pelicanconf.py**</span> you have to activate the plugin<span class="se">::</span>

<span class="s">    PLUGIN_PATHS = [&quot;plugins&quot;]</span>
<span class="s">    PLUGINS = [&quot;tag_cloud&quot;]</span>

Into your <span class="gs">**plugins**</span> folder, you should add tag_cloud.py (from this repository).

In your theme files, you should change <span class="gs">**base.html**</span> to apply formats (and sizes) defined in <span class="gs">**style.css**</span>, as specified in &quot;Settings&quot;, below.

<span class="gh">Settings</span>
<span class="gh">--------</span>

================================================    =====================================================
Setting name (followed by default value)            What does it do?
================================================    =====================================================
<span class="s">``TAG_CLOUD_STEPS = 4``</span>                             Count of different font sizes in the tag
                                                    cloud.
<span class="s">``TAG_CLOUD_MAX_ITEMS = 100``</span>                       Maximum number of tags in the cloud.
<span class="s">``TAG_CLOUD_SORTING = &#39;random&#39;``</span>                    The tag cloud ordering scheme.  Valid values:
                                                    random, alphabetically, alphabetically-rev, size and
                                                    size-rev
<span class="s">``TAG_CLOUD_BADGE = True``</span>                          Optionnal setting : can bring <span class="gs">**badges**</span>, which mean
                                                    say : display the number of each tags present
                                                    on all articles.
================================================    =====================================================

The default theme does not include a tag cloud, but it is pretty easy to add one<span class="se">::</span>

<span class="s">    &lt;ul class=&quot;tagcloud&quot;&gt;</span>
<span class="s">        {% for tag in tag_cloud %}</span>
<span class="s">            &lt;li class=&quot;tag-{{ tag.1 }}&quot;&gt;</span>
<span class="s">                &lt;a href=&quot;{{ SITEURL }}/{{ tag.0.url }}&quot;&gt;</span>
<span class="s">                {{ tag.0 }}</span>
<span class="s">                    {% if TAG_CLOUD_BADGE %}</span>
<span class="s">                        &lt;span class=&quot;badge&quot;&gt;{{ tag.2 }}&lt;/span&gt;</span>
<span class="s">                    {% endif %}</span>
<span class="s">                &lt;/a&gt;</span>
<span class="s">            &lt;/li&gt;</span>
<span class="s">        {% endfor %}</span>
<span class="s">    &lt;/ul&gt;</span>

You should then also define CSS styles with appropriate classes (tag-1 to tag-N,
where N matches <span class="s">``TAG_CLOUD_STEPS``</span>), tag-1 being the most frequent, and
define a <span class="s">``ul.tagcloud``</span> class with appropriate list-style to create the cloud.
You should copy/paste this <span class="gs">**badge**</span> CSS rule <span class="s">``ul.tagcloud .list-group-item &lt;span&gt;.badge``</span>
if you&#39;re using <span class="s">``TAG_CLOUD_BADGE``</span> setting. (this rule, potentially long , is suggested to avoid
conflicts with CSS libs as twitter Bootstrap)

For example<span class="se">::</span>

<span class="s">    ul.tagcloud {</span>
<span class="s">      list-style: none;</span>
<span class="s">        padding: 0;</span>
<span class="s">    }</span>

<span class="s">    ul.tagcloud li {</span>
<span class="s">        display: inline-block;</span>
<span class="s">    }</span>

<span class="s">    li.tag-1 {</span>
<span class="s">        font-size: 150%;</span>
<span class="s">    }</span>

<span class="s">    li.tag-2 {</span>
<span class="s">        font-size: 120%;</span>
<span class="s">    }</span>

<span class="s">    ...</span>

<span class="s">    ul.tagcloud .list-group-item &lt;span&gt;.badge {</span>
<span class="s">        background-color: grey;</span>
<span class="s">        color: white;</span>
<span class="s">    }</span>

By default the tags in the cloud are sorted randomly, but if you prefers to have it alphabetically use the <span class="nv">`alphabetically`</span> (ascending) and <span class="nv">`alphabetically-rev`</span> (descending). Also is possible to sort the tags by it&#39;s size (number of articles with this specific tag) using the values <span class="nv">`size`</span> (ascending) and <span class="nv">`size-rev`</span> (descending).
</pre></div>
